@font-face{
    font-family: 'micradi';
    src: url('fonts/micradi_r.woff') format('woff');
}

@font-face{
    font-family: 'micradiB';
    src: url('fonts/micradi.woff') format('woff');
}

html {
     padding: 0px;
     font-family: micradi;
    background: #e6e7e7;
 }
p {
    margin: 0px;
    padding: 0px;
}

.page {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin:  -10px auto auto auto;
    max-width: 1240px;
}

.head {
    height: 138px;
    background-image: url(./img/back_header.png);
}
.content {
    width: 100%;

}
.head_contact  {
    float: right;
    margin-right: 30px;
    margin-top: 45px;
    font-size: 125%;
    color: #293a5a;
    text-align: right;
}

.head_logo {
    float: left;
    margin-left: 40px;
    margin-top: 26px;
}

.foot {
    height: 109px;
    background: #293a5a;
}
.content {
    width: 100%;

}
.foot_contact  {
    float: right;
    margin-right: 30px;
    margin-top: 20px;

    color: #e6e6e6;
    text-align: right;
}

.foot_logo {
    float: left;
    margin-left: 40px;
    margin-top: 30px;
}

.foot .autor{

    font-size: 75%;
    font-family: Arial;
    margin-top: 8px;
    color: #6e95aa;
}
a {
    text-decoration: none;
}

#mobil_control{
    width: 100%;
}

/* --------------------------------------------------------------------------*/
.end{
    background: white;
    width: 100%;
    background-image: url(./img/end_bg.png);
    margin: 0px;
    padding: 0px;
}
.end h1{
    font-size: 230%;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-family: micradiB;
    color: #dd2a1b;
}

.end h2{
    font-size: 210%;
    margin: 0px 40px 35px 15px;

    padding: 0px;
    font-family: micradiB;
    color: #293a5a;
}

#cl {
    margin-bottom: 0px;
}

.end h3{
    margin: -5px 0px 0px 15px;
    font-size: 170%;
}

.end_btn{
    display: table;

    margin: 10px 30px 30px 15px;
    font-family: micradi;
    font-size: 1.3em;
    border: 0;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(41, 58, 90); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}
.end_btn:hover { background: rgb(64, 97, 143); } /* при наведении курсора мышки */
.end_btn:active { background: rgb(75, 9, 0); } /* при нажатии */

/* --------------------------------------------------------------------------*/
.map {

    height: 550px;
    margin-bottom: 45px;
    margin-top: -4px;
    background: #293a5a;
    text-align: right;
}

.map h2 {
    display: inline-block;
    padding: 10px;
    color: white;
    margin: 0px;
}

.map p {
    float: right;
    color: white;
    margin: 20px;
}


/* --------------------------------------------------------------------------*/
.sale{

    background-image: url(./img/sale_bg.png);
    background-size: auto;
    margin: 0px;
    padding: 0px;
}

.no_bg{
    background-image: none;
}


.sale h2{
    font-size: 200%;
    color: #293a5a;
    margin: auto;
    padding: 30px;
    text-align: center;

}

.sale ul{
    padding: 0px;
    margin: 0px;
    text-align: center;


}
.sale li{
    margin: 9px;
    display: inline-block;
    vertical-align: top;
}

.sale h4{
    font-size: 120%;
    margin: 5px;
}

.sale_btn{
    display: table;

    margin: auto;
    font-family: micradi;
    font-size: 1.2em;
    border: 0;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(221, 42, 27); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}
.sale_btn:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
.sale_btn:active { background: rgb(75, 9, 0); } /* при нажатии */

/* --------------------------------------------------------------------------*/

.piar{
    background: white;
    margin: 0px;
    padding: 0px;

}




.piar h2{
    font-size: 200%;
    font-family: micradiB;
    color: #293a5a;
    margin: auto;
    padding: 30px;
    text-align: center;

}
.piar h4{
    font-size: 150%;
    color: #293a5a;
    margin: auto;
    padding: 30px;
    text-align: center;

}
.piar ul{
    padding: 0px;
    margin: 0px;
    text-align: center;


}
.piar li{
    margin: 9px;
    display: inline-block;
    vertical-align: middle;
}

/* --------------------------------------------------------------------------*/
.about{

    background: rgb(230, 230, 230);;
    margin: 0px;
    padding: 0px;
}
.about h2{
    font-family: micradiB;
    font-size: 200%;
    color: #dd2a1b;
    margin: auto;
    padding-top: 20px;
    text-align: center;

}

.about ul{
    padding: 0px;
    margin: 0px;
    text-align: center;


}
.about li{
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    width: 28%;
}

.about h4{
    font-size: 120%;
    margin: 5px;
    color: #3b4c5a;
}
.about h3{
    text-align: right;
    font-size: 120%;
    margin-right: 30px;
    padding-bottom: 30px;
    color: #3b4c5a;
}
.about p{
    font-family: Arial;
    text-align: justify;
}


/* --------------------------------------------------------------------------*/
.viewport1 {
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #293a5a;
}

.slidewrapper1 {
    position: relative;
    width: calc(100% * 10);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;

}

.slidewrapper1 ul, .slidewrapper1 li {
    margin: 0;
    padding: 0;
}

.slidewrapper1 li {
    width: calc(100%/10);
    list-style: none;
    display: inline;
    float: left;
    background: #293a5a;
}


.slidewrapper1 .list1 {
    display: inline-block;
    width: 100%;
}
.slidewrapper1 .about_img {
    float: left;
    padding-left: 2%;
    padding-right: 10px;
}
.slidewrapper1 .about_list {


    margin: 30px;
    color: white;
    padding-right: 2%;
}

.slidewrapper1 h1 {

   font-family: micradiB;
}

.slidewrapper1 p {
    padding: 20px;
    font-family: Arial;
    color: #e6e6e6;
}

.prev-btn1, .next-btn1 {
    position: absolute;
    width: 5px;
    height: 40px;
    background-color: #40618f;
;
    border-radius: 2px;
    top: calc(50% - 25px);
}

.prev-btn1:hover, .next-btn1:hover {
    cursor: pointer;
}

.prev-btn1 {
    left: 10px;
}

.next-btn1 {
    right: 10px;
}


.nav-btns1 {
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding: 0;
    margin: 0;
    right: 2%;
    text-align: right;
}

.slide-nav-btn1 {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0px;
}

.slide-nav-btn1:hover {
    cursor: pointer;
}


/* --------------------------------------------------------------------------*/
.viewport_main {
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #293a5a;
}

.slidewrapper_main {
    position: relative;
    width: calc(100% * 5);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;

}

.slidewrapper_main ul, .slidewrapper_main li {
    margin: 0;
    padding: 0;
}

.slidewrapper_main li {
    width: calc(100%/5);
    list-style: none;
    display: inline;
    float:left;
    background: #293a5a;
}

.slide-img_main {
    width:100%;


}

.border_right_main {
    position: absolute;
    width: 35px;
    height: 100%;
    right: 0px;
    background: #293a5a;
}

.border_left_main {
    position: absolute;
    width: 50%;
    height:100%;
    left: -27%;
    -webkit-transform: skewX(-23deg);
    -ms-transform: skewX(-23deg);
    transform: skewX(-23deg);
    background: #293a5a;
}

.prev-btn_main, .next-btn_main {
    position: absolute;
    width: 5px;
    height: 40px;
    background-color: #40618f;
;
    border-radius: 2px;
    top: calc(50% - 25px);
}

.prev-btn_main:hover, .next-btn_main:hover {
    cursor: pointer;
}

.prev-btn_main {
    left: 10px;
}

.next-btn_main {
    right: 10px;
}


.nav-btns_main {
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding: 0;
    margin: 0;
    left: 2%;
    text-align: left;
}

.slide-nav-btn_main {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0px;
}

.slide-nav-btn_main:hover {
    cursor: pointer;
}


.nav-text_main{
    position: absolute;
    width: 50%;
    top: 1%;
    font-size: 130%;
    color: white;
    left: -30px;
    text-align: left;
    list-style-type: none;

}

.slide-nav-tx_main:hover {
    cursor: pointer;
}

/*=========================================================*/
input,
textarea {
    padding: 5px 8px;
    border: 1px solid #84898b;
    display: block;
    margin-top: 6px;
    color: #b1b7ba;
    font: 12px/18px  Arial;
}



.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.popup, .popup2{
    display: inline-block;
    left: 50%;
    opacity: 0;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 999999;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.popup form {
    padding: 0 27px 20px;
    right: 0;
    width: 250px;
    background: rgba(255, 255, 255, 0.85);

    border: 1px solid #293a5a;
    border-top: 40px solid #293a5a;
}
.popup2 .window {
    padding: 0 27px 27px;
    right: 0;
    width: 373px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #293a5a;
    border-top: 40px solid #293a5a;
}
.popup form input {
    color: #293a5a;
    background: #f0f5f7;
    margin-top: 8px;
    width: 237px;
}
.popup form input[name="name"]{

    margin-top: 20px;
}
.popup form textarea {
    color: #293a5a;
    background: #f0f5f7;
    margin-top: 8px;
    width: 237px;
    height: 100px;
    resize: none;
}
.popup form label{
    color: #587286;
    font-family: Arial;
    font-size: 80%;
    width: 100%;
    height: 50px;
    display: block;
    margin: 8px -2px;
    padding: 0;
}
.popup form .button {
    background: #dd2a1b;
    border: 0px;
    height: 30px;
    color: white;
    font-family: micradi;
    text-align: center;
    text-transform: uppercase;
    width: 245px;
}

.popup form .button:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
.popup form .button:active { background: rgb(75, 9, 0); } /* при нажатии */

.popup form h5 {
    position: absolute;
    top: 10px;
    left: 29px;
    font-size: 18px;
    color: white;


    margin: 0;
}
.popup .close_modal,
.popup2 .close_modal  {
    position: absolute;
    padding: 1px 9px 4px 9px;
    top: -5px;
    right: -15px;
    cursor: pointer;
    color: #fff;
    font-family: 'tahoma', sans-serif;
    background: #dd2a1b;
    text-align: center;
}
.popup2 h5 {
    position: absolute;
    top: 10px;
    left: 120px;
    font-size: 18px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}
.popup2 p {
    font-family: verdana;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
.popup2 p strong{
    font-size: 26px;
    line-height: 30px;
    font-weight: normal;
    display: block;
}
.popup2 hr {
    background: #63baff;
    height: 1px;
    border: none;
}


/*------------------------------------------------------*/

@media screen and (max-width: 1280px) {
    .page {
        box-shadow: 0 0 0px rgba(0,0,0,0.5);
    }
}

@media screen and (max-width: 920px) {
    .page {
        margin:  -30px auto auto auto;
    }

    .head_contact {
        float: none;
        margin: 0px;
        margin-top: -20px;
        padding: 10px;
    }

    .head_logo{

        float: none;
    }

    .head_logo img {
        padding: 10px;
    }

    .head {
        height: auto;
        background: white;
    }




    .slidewrapper_main li {
        overflow:hidden;
}

    .slide-img_main {
        position: relative;
        left: 120%;
        transform: translate(-100%, 0%);
        width: 140%;

    }

    .slide1 .about_img{
        text-align: center;
        float: none;
    }

    .slide1 .about_img img{
        max-width: 600px;
        width: 100%;

    }

    .sale li{
        width: 35%;
    }

    .about li{
        width: auto;
        display: block;
    }

    .map{
        height: 300px;
        margin-bottom: 39px;
        font-size: 60%;
    }
}




@media screen and (max-width: 720px) {

    .head_contact {
        font-size: 100%;
    }
    .head_logo{
        margin-left: 0px;

    }


    .slide-img_main {
        width: 200%;
    }

    .border_right_main {
        width: 0px;

    }

    .head_logo img {
        padding: 10px;
        width: 80%;

    }

    .open_modal {
        font-size: 90%;
        margin: auto;
        width: auto;
    }

    .sale li {
        width: 30%;
    }

    .sale img {
        width: 90%;
    }

    .sale h2 {
        font-size: 160%;
    }
    .sale h4 {
        font-size: 90%;
    }
    .piar h4 {
        font-size: 120%;
    }
    .piar h2 {
        font-size: 140%;
    }
    .map {
        height: 300px;
        margin-bottom: 37px;
        font-size: 60%;
    }

    .end {
        text-align: center;
        background-image: url("img/sale_bg.png");
        font-size: 90%;
    }

    .end h1 {
        font-size: 150%;
    }
    .end h3 {
        font-size: 150%;
        padding-bottom: 5px;
    }
    .end h2 {
        font-size: 150%;
    }

    .end .open_modal {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .foot_contact{
        font-size: 0px;
        visibility: hidden;
    }
    .foot_logo img{
        width: 80%;
    }

}